@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-brand-navy: #0f2447;
	--color-brand-navy-light: #1e3a66;
	--color-brand-blue: #2563eb;
	--color-brand-blue-dark: #1d4ed8;
	--color-brand-blue-light: #eff6ff;
}